<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Net.Compilers.Toolset" version="3.1.0" targetFramework="net462" developmentDependency="true" />
  <package id="SixLabors.Core" version="1.0.0-beta0008" targetFramework="net462" />
  <package id="SixLabors.ImageSharp" version="2.1.9" targetFramework="net6.0" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.1" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net6.0" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net6.0" />
</packages>